html {
    scroll-behavior: smooth !important;
}


.btn {
    background-color: #0276ff;
    border-radius: 5px;
    color: white;

}

a.btn-primary {
    background-color: #0276ff;
    border-radius: 5px;
    color: white;
}

h2,
.h2 {
    font-size: 50px;
}
